In [70]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [71]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.tail()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
560,560,Popondetta,PG,2021-03-02 18:22:07,-8.7537,148.2534,73.44,92,65,3.18
561,561,Las Tunas,CU,2021-03-02 18:22:08,20.9617,-76.9511,84.20,48,40,10.36
562,562,Nynashamn,SE,2021-03-02 18:22:08,58.9034,17.9479,37.99,38,3,3.85
563,563,Porto Novo,BJ,2021-03-02 18:22:08,6.4965,2.6036,86.00,79,20,12.66
564,564,Kuusamo,FI,2021-03-02 18:22:08,65.9667,29.1833,30.20,64,75,10.36

In [72]:
# Confirm that the datatypes fo the data columns are int or float
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [73]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [74]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
#    temps.append(max(temp, 0))

In [75]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature:
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [76]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [77]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [78]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                                 dissipating=False, max_intensity=100, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [79]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [80]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Tandalti,SD,2021-03-02 18:17:18,13.0167,31.8667,79.27,14,40,12.88
6,6,Rikitea,PF,2021-03-02 18:17:55,-23.1203,-134.9692,77.58,69,46,1.68
9,9,Butaritari,KI,2021-03-02 18:19:28,3.0707,172.7902,81.05,81,6,14.63
11,11,Arlit,NE,2021-03-02 18:19:28,18.7369,7.3853,84.79,7,0,15.08
13,13,Sao Joao Da Barra,BR,2021-03-02 18:18:22,-21.6403,-41.0511,84.20,58,0,16.11
15,15,Port Alfred,ZA,2021-03-02 18:17:06,-33.5906,26.8910,77.68,66,48,10.02
21,21,Mahebourg,MU,2021-03-02 18:19:31,-20.4081,57.7000,78.80,78,75,8.05
26,26,Georgetown,MY,2021-03-02 18:19:33,5.4112,100.3354,84.00,83,20,3.44
27,27,Kralendijk,BQ,2021-03-02 18:19:33,12.1500,-68.2667,86.00,48,40,11.50
31,31,Avarua,CK,2021-03-02 18:15:18,-21.2078,-159.7750,80.60,89,52,1.14

In [81]:
#Check for any null values 
preferred_cities_df.count()

City_ID       169
City          169
Country       167
Date          169
Lat           169
Lng           169
Max Temp      169
Humidity      169
Cloudiness    169
Wind Speed    169
dtype: int64

In [82]:
#Drop the rows with null values from the DataFrame 
preferred_cities_df = preferred_cities_df.dropna()

In [83]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

                 City Country  Max Temp      Lat       Lng Hotel Name
3            Tandalti      SD     79.27  13.0167   31.8667
6             Rikitea      PF     77.58 -23.1203 -134.9692
9          Butaritari      KI     81.05   3.0707  172.7902
11              Arlit      NE     84.79  18.7369    7.3853
13  Sao Joao Da Barra      BR     84.20 -21.6403  -41.0511

In [86]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [87]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
     # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError): 
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [88]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Tandalti,SD,79.27,13.0167,31.8667,منزل : الهادي محمد مساعد
6,Rikitea,PF,77.58,-23.1203,-134.9692,Pension Maro'i
9,Butaritari,KI,81.05,3.0707,172.7902,Isles Sunset Lodge
11,Arlit,NE,84.79,18.7369,7.3853,Case de Passage De la Prefecture
13,Sao Joao Da Barra,BR,84.20,-21.6403,-41.0511,Pousada Porto De Canoas

In [94]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [95]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [97]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
                                 dissipating=False,
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))